{% include 'inc/Header.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar lugar Evento</title>
</head>
<body>
    <h1>Actualizar lugar evento</h1>
    
    
    <form action="/EditarLugar/" method="post">
        
        {% csrf_token%}
        <input type="hidden" name="Id" value="{{ lugar.Id_Lugar }}">
        <label for="">Actualiza el lugar donde sera el evento:</label>
        <input type="text" name="LugarEvento" id="LugarEvento" value="{{ lugar.LugarEvento }}">

        <button type="submit">Actualizar</button>
    </form>

</body>
</html>