<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lugares disponibles para el evento</h1>
    <table border="1">
        <tr>
            {% if lugar %}
                <th>Lugar del evento</th>
                <th>Actualizar</th>
                <th>Borrar</th>
            {% else %}
                <th colspan="3">Lugar</th>
            {% endif %}
        </tr>
        {% for lugar in lugar %}
            <tr>
                <td>{{ lugar.LugarEvento }}</td>
                <td><a href="{% url 'VerActualizarLugar/<int:Id_Lugar>/' %}">Actualizar</a></td>
                <td><button>Borrar</button></td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="3">No hay Lugares disponibles para el evento.</td>
            </tr>
        {% endfor %}
    </table>
    
</body>
</html>