<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <header>
        <nav>
            <ul>
               
                {% if user.is_authenticated %}

                <li>
                    <a href="{% url 'Index' %}">Formulario</a>
                </li>

                <li>
                    <a href="#">Lugar de evento</a>
                        <ul>
                            <li><a href="{% url 'LugarEventoCrear' %}">Registrar un nuevo lugar</a></li>
                            <li><a href="{% url 'VerLugar' %}">Ver lugares disponibles</a></li>
                        </ul>
                </li>

                <li>
                    <a href="{% url 'VerFormulario' %}">Ver registros</a>
                </li>

                <li>
                    <a href="{% url 'Registro' %}">Registrar admin</a>
                </li>

                <li>
                    <a href="{% url 'logout' %}">Cerrar sesion</a>
                </li>

                <li>
                    <a href="#">@{{ user.username }}</a>
                </li>

                {% else %}

                <li>
                    <a href="{% url 'login' %}">Ingreso</a>
                </li>

                {% endif %}

            </ul>
        </nav>
    </header>